<!DOCTYPE html>
<html>
<head>
    <head>{% include 'layouts/login/layout_head.html.twig' %}</head>
</head>
<body>
<header>
    <!-- include layout header -->
</header>

<!--Area for dynamic content -->
{% block body %}{% endblock %}
<footer>{% include 'layouts/login/layout_footer.html.twig' %}</footer>
</body>
</html>